.chnagebackone {
    background-image: url('../img/laptop.jpg');
    background-size: cover;   
}


.goomeatgrinder {
    background-image: url('../img/MG.webp');
    background-size: cover;   
}


.goocoffeemaker {
    background-image: url('../img/cofeemaker.jpg');
    background-size: cover;   
}

.goowashingmachine {
    background-image: url('../img/Washingmachine.jpg');
    background-size: cover;   
}


.goodishwasher {
    background-image: url('../img/Dishwasher.jpg');
    background-size: cover;   
}



.goowaterheaters {
    background-image: url('../img/Waterheaters.jpg');
    background-size: cover;   
}


.gooheaters {
    background-image: url('../img/heaters.jpg');
    background-size: cover;   
}


.googasstoves {
    background-image: url('../img/gasStoves.jpg');
    background-size: cover;   
}